	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<!--<button class="dl-trigger">Open Menu</button>-->
		<ul>
            <li style="border:1px solid #ddd; padding:10px;">
                <a href="{{ site.url }}/">Home</a>
            </li>
            <li style="border:1px solid #ddd; padding:10px;">    
                <a href="{{ site.url }}/about">About</a>
            </li>
            <li style="border:1px solid #ddd; padding:10px;">
                <a href="{{ site.url }}/posts">Posts</a>
            </li>
        </ul><!-- /.dl-menu -->
        <ul style="float:right; width:500px;">
                
        </ul>    
	</nav><!-- /.dl-menuwrapper -->
