	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<!--<button class="dl-trigger">Open Menu</button>-->
		<ul>
            <li style="border-left:1px solid #ddd;">
                <a href="{{ site.url }}/">Home</a>
            </li>
            <li>    
                <a href="{{ site.url }}/about">About</a>
            </li>
            <li class="dropdown-btn">
                <a href="{{ site.url }}/posts">Posts <i class="fa fa-caret-down"></i></a>    
                <div class="dropdown-content">
                    <li><a href="{{ site.url }}/java/">자바</a></li>
                    <li><a href="{{ site.url }}/certificate/">자격증</a></li>
                    <li><a href="{{ site.url }}/algo/">알고리즘</a></li>
                    <li><a href="{{ site.url }}/Github_Blog/">블로그개선</a></li>
                    <li><a href="{{ site.url }}/tags/">All Tags</a></li>
                </div>
            </li>
        </ul><!-- /.dl-menu --> 
	</nav><!-- /.dl-menuwrapper -->
